# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# properties where you could store your session cookie
gradle.properties
app/src/config.kt

# Downloaded input
input
app/input


# IntelliJ
.idea/